<template>
  <v-card tile>
    <v-card-title><p>{{product.name}}</p></v-card-title>
    <v-card-media
      :src="product.image"
      height="150px"
    >
    </v-card-media>
    <v-card-text>
      <router-link :to="{name: 'ProductDetail', params: {name: product.category_id, product_id: product.id}}">
        More...
      </router-link>
      <p class="price">{{product.price}} USD</p>
    </v-card-text>
      <v-card-actions>
        <v-btn dark large color="red">Buy</v-btn>
      </v-card-actions>
  </v-card>
</template>

<script>
  export default {
    name: 'product-card',
    props: {
      product: Object,
      category_id: Number
    }
  }
</script>

<style scoped>
  .card__actions {
    flex-direction: column;
  }
  .card__title {
    height: 6rem;
    align-items: flex-start;
    font-size: 1.5rem;
  }
  a {
    color: coral;
  }
  .price {
    font-size: 1.5rem;
  }

  @media (min-width: 78em) {
    .card {
      display: flex;
      height: auto;
      flex-direction: column;
      align-items: center;
    }
    .card__media {
      width: 200px;
      height: 200px;
    }
  }
</style>
