<template>
  <v-container fluid grid-list-md>
    <v-layout row wrap>
      <v-flex xs6 sm6 lg3 v-for="product in products" :key="product.id">
          <product-card :product="product"></product-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
  import ProductCard from './ProductCard'
  export default {
    name: 'product-grid',
    components: {
      ProductCard
    },
    props: {
      products: Array
    }
  }
</script>

<style scoped>

</style>
