<template>
 <v-container fluid>
    <v-layout row>
      <v-flex sm6>
        <v-card v-if="product">
          <v-card-title><p>{{product.name}}</p></v-card-title>
          <v-layout row wrap class="center-content">
            <v-card-media :src="product.image" height="150px"></v-card-media>
            <v-card-text>
              <p>{{product.description}}</p>
          </v-card-text>
          </v-layout>
          <v-card-actions>
            <v-btn dark large color="red">Buy!</v-btn>
          </v-card-actions>
        </v-card>
        <v-card v-else>
          <v-card-title>404 Not Found</v-card-title>
          <v-card-text>Product doesn't exist</v-card-text>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
  export default {
    name: 'product-detail',
    computed: {
      product_id () {
        return this.$route.params.product_id
      },
      product () {
        return this.$store.getters.product(this.product_id)
      }
    }
  }
</script>

<style scoped>
  .container {
    padding: 1rem;
  }
  .card {
    display: flex;
    flex-direction: column;
  }
  .card__media {
    width: 300px;
    margin: 1rem;
  }
  .card__actions {
    align-self: center;
  }
  .card__text {
    max-width: 50%;
  }
  .card__title {
    font-size: 2rem;
  }
  .center-content {
    display: flex;
    align-items: last-baseline;
  }
</style>
