<template>
  <v-container>
    <category-grid class="category-grid" :categories="categories"></category-grid>
    <category-list class="category-list" :categories="categories"></category-list>
  </v-container>
</template>

<script>
  import CategoryGrid from './CategoryGrid'
  import CategoryList from './CategoryList'
  import { mapGetters, mapActions } from 'vuex'

  export default {
    name: 'categories',
    computed: mapGetters([
      'categories'
    ]),
    methods: mapActions([
      'fetchCityInfo'
    ]),
    components: {
      CategoryGrid,
      CategoryList
    },
    asyncData ({ store, router }) {
      console.log('async')
      return store.dispatch('fetchCityInfo')
    }
  }
</script>

<style scoped>
  .container {
    padding: 0.5rem;
  }
  .category-list {
    display: none;
  }

  @media (min-width: 80em) {
    .category-grid {
      display: none;
    }

    .category-list {
      display: flex;
    }
  }
</style>
