<template>
  <v-container>
    <v-layout>
      <v-flex>
        <v-card v-if="category">
          <v-card-title><h1>{{category.name}}</h1></v-card-title>
          <v-card-media :src="category.image" height="150px"></v-card-media>
          <product-grid :products="category.products"></product-grid>
        </v-card>
        <v-card v-else>
          <v-card-title>404 Not Found</v-card-title>
          <v-card-text>Category doesn't exist</v-card-text>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
  import ProductGrid from '../products/ProductGrid'

  export default {
    name: 'category-detail',
    computed: {
      name () {
        return this.$route.params.name
      },
      category () {
        return this.$store.getters.category(this.name)
      }
    },
    components: {
      ProductGrid
    }
  }
</script>

<style scoped>

</style>
