<template>
  <v-card flat tile>
     <v-card-title><p>{{category.name}}</p></v-card-title>
    <v-container fluid fill-height>
      <v-layout fill-height>
        <product-grid :products="products"></product-grid>
      </v-layout>
    </v-container>
  </v-card>
</template>

<script>
  import ProductGrid from '../products/ProductGrid'
  export default {
    name: 'category-expanded',
    computed: {
      // get first 4 of category's products
      products: function () {
        return this.$props.category.products.slice(0, 4)
      }
    },
    components: {
      ProductGrid
    },
    props: {
      category: Object
    }
  }
</script>

<style scoped>
  .card {
    background-color: rgba(240, 207, 128, 0.4);
  }
  .layout {
    width: 80%;
    padding-bottom: 1rem;
  }

  .card__title {
    font-size: 2rem;
    font-weight: bold;
    max-width: 80%;
    align-items: end;
    margin-left: 10%;

  }
</style>
