<template>
  <v-container fluid grid-list-md>
    <v-layout row wrap>
      <v-flex xs6 sm3 v-for="category in categories" :key="category.id">
        <router-link class="router-link" :to="{name: 'CategoryDetail', params: {name: category.name}}">
          <category-card :category="category"></category-card>
        </router-link>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
  import CategoryCard from './CategoryCard'

  export default {
    name: 'category-grid',
    props: {
      categories: Array
    },
    components: {
      CategoryCard
    }
  }
</script>

<style scoped>
  .router-link {
    text-decoration: none;
  }
</style>
