<template>
  <v-card tile>
     <v-card-media
          :src="category.image"
          height="150px"
        >
     </v-card-media>
    <v-container fluid fill-height>
      <v-layout fill-height>
        <v-card-title><p>{{category.name}}</p></v-card-title>
      </v-layout>
    </v-container>
  </v-card>
</template>

<script>
    export default {
      name: 'category-card',
      props: {
        category: Object
      }
    }
</script>

<style scoped>
  .card__title {
    font-size: 1.5rem;
  }
</style>
