<template>
  <v-container fluid grid-list-md>
    <v-layout row wrap>
      <v-flex xs12 v-for="category in categories" :key="category.id">
        <category-expanded :category="category"></category-expanded>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
  import CategoryExpanded from './CategoryExpanded'
  export default {
    name: 'category-list',
    components: {
      CategoryExpanded
    },
    props: {
      categories: Array
    }
  }
</script>

<style scoped>

</style>
