<template>
   <v-app id="app" style="background-color: beige">
    <v-navigation-drawer
      fixed
      v-model="drawer"
      class="drawer"
      :disable-resize-watcher="true"
      :clipped="true"
      app
    >
      <v-list dense>
        <router-link to="/menu" class="nav-link">
          <v-list-tile>
            <v-list-tile-action>
              <v-icon>restaurant</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title>Menu</v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
        </router-link>
        <v-list-tile @click="">
          <v-list-tile-action>
            <v-icon>contact_mail</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title>Contact</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
      </v-list>
    </v-navigation-drawer>
    <v-toolbar color="brown darken-4" dark fixed app>
      <v-toolbar-side-icon @click.stop="drawer = !drawer"></v-toolbar-side-icon>
      <v-toolbar-title>Application</v-toolbar-title>
      <v-spacer></v-spacer>
      <v-btn icon>
        <v-icon>shopping_cart</v-icon>
      </v-btn>
    </v-toolbar>
    <v-content>
      <breadcrumbs></breadcrumbs>
      <v-divider></v-divider>
      <slot></slot>
    </v-content>
    <v-footer color="brown darken-4" app>
      <span class="white--text">&copy; 2018</span>
    </v-footer>
   </v-app>
</template>

<script>
  import Breadcrumbs from './Breadcrumbs'

  export default {
    name: 'app-shell',
    components: {
      Breadcrumbs
    },
    data () {
      return {
        drawer: false
      }
    }
  }
</script>

<style>
  .container {
    padding: 0;
    display: flex;
    flex-direction: column;
  }
  .content--wrap {
    flex: 1 1 auto;
  }
  .nav-link {
    text-decoration: none;
  }
  @media (min-width: 60em) {
    .drawer, .btn-content, .toolbar__side-icon {
      display: none;
    }
  }
</style>
