<template>
  <v-container>
    <v-layout row wrap>
      <v-flex xs12>
          <v-breadcrumbs divider=">">
              <v-breadcrumbs-item v-for="(item, index) in items" :key="index">
                <router-link :to="item.path" class="route">{{item.text}}</router-link>
              </v-breadcrumbs-item>
          </v-breadcrumbs>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
  export default {
    name: 'breadcrumbs',
    computed: {
      items () {
        const splittedPath = this.$route.path.split('/')
        return splittedPath.map((crumb, index) => {
          return {
            path: splittedPath.slice(0, index + 1).join('/'),
            text: crumb
          }
        })
      }
    }
  }
</script>

<style scoped>

  .route {
    color: brown;
    text-decoration: underline brown;
    font-size: 1.5rem;
    }

  @media (min-width: 60em) {

    .route {
      text-decoration: none;
      font-size: 1rem;
    }

    .route:hover {
      color: lightcoral;
      text-decoration: underline lightcoral;
    }
  }
</style>
