<template>
  <v-layout align-center justify-center>
    <v-flex xs12>
      <v-card>
      <v-card-title><h1>404 Not Found</h1></v-card-title>
        <v-card-text>
        </v-card-text>
      <v-card-actions>
        <router-link to="/">
          <v-btn color="coral">Home</v-btn>
        </router-link>
      </v-card-actions>
    </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
  export default {
    name: 'not-found'
  }
</script>

<style scoped>
</style>
