<template>
  <app-shell>
    <router-view></router-view>
  </app-shell>
</template>

<script>
  import AppShell from '@/components/AppShell'

  export default {
    name: 'app',
    components: {
      AppShell
    }
  }
</script>

<style>
</style>
